.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #000;
}

.header {
  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/background_header.svg);
  box-sizing: border-box; /*Ensures padding is included
  in the height of block*/
  background-size: cover; /*makes background image stick with
  changes in viewport size*/
  position: relative; /*Ensures image with absolute
  positioning remains anchored in the header, which is it's
  parent element*/
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  column-gap: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.header__title {
  margin: 183px 0 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  max-width: 729px;
}

.header__span-accent {
  color: #3f96f3;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  max-width: 683px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  color: #6f6f6f;
}

.header__footer_hours {
  margin-top: auto;
  line-height: 0px;
}

.header__footer_address {
  margin-top: auto;
}

.recipes {
  color: #fff;
  background-color: #0a2750;
  height: 800px;
  padding: 100px 80px 215px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/background_recipes.svg);
  box-sizing: border-box; /*Ensures padding is included
  in the height of block*/
  background-size: cover; /*makes background image stick with
  changes in viewport size*/
  position: relative; /*Ensures image with absolute
  positioning remains anchored in the header, which is it's
  parent element*/
}

.recipes__title {
  margin: 0 0 24px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0 0 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin-top: 0;
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style-type: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0;
}
